{% extends "dashboard-template.html" %}
{% block title %}Acceuil{% endblock %}
{% block header %}Acceuil{% endblock %}
{% block content %}
<div class = "vision_overview">
    <h1>ERT :</h1><br>
    <table>
        <tr>
            <td>Nom de l'application :</td>
            <td>Elec Road Trip</td>
        </tr>
        <tr>
            <td>Version :</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>Temps d'activité :</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Statut :</td>
            <td>Down</td>
        </tr>
        <tr>
            <td>Délais des intérogations :</td>
            <td>0</td>
        </tr>
    </table>
</div>
{% endblock %}