{% extends "dashboard-template.html" %}
{% block title %}Our Cars{% endblock %}
{% block header %}Our Cars{% endblock %}
{% block content %}

<p>List of cars that Elec Road Trip:</br></br></p>

<table>
    <tr>
    <td> Name of the car  </td><td> Brand of the car </td><td> Autonomy of the car  </td><td> Charging time of the car </td>
    </tr>
	{% for car in cars %}
    <tr>
    <td> {{ car['node']['name'] }} </td><td>{{ car['node']['marque'] }}</td><td>{{ car['node']['autonomie'] }}</td><td>{{ car['node']['tempsChargement'] }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}